/*Estilado general*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    margin: auto 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url("../imagenes/otoño.jpg");
    background-repeat: no-repeat;
    background-position-y: center;
    background-size: cover;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
}

/*Estilado de la primera sección*/

form {
    margin-top: 50px;
}

.generated-password {
    width: 450px;
    height: 70px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    margin-left: 20px;
    border: #711F43 2px solid;

}


button {
    font-size: 25px;
    background-color: white;
    border: white;
    margin-right: 5px;

}

.fa-copy,
.fa-arrows-rotate {
    color: #711F43;
    padding-right: 15px;
}

.fa-copy{
    
}

#password {
    height: 30px;
    width: 300px;
    border: white;
    margin-bottom: 50px;
    text-align: center;
    font-size: 18px;

}

/*Estilado de la segunda sección*/
.customize-password {
    border-radius: 10px;
    height: 250px;
    width: 500px;
    background-color: white;
    border: #711F43 2px solid;
}

span {
    font-size: 18px;
    font-weight: 500;
    color: #711F43;
}

h2 {
    padding-left: 10px;
    padding-top: 10px;
    color: #711F43;
    margin-top: 0;
}

.password-features {
    display: flex;
    height: 120px;
    padding-top: 10px;
    padding-left: 10px;
    margin-top: 20px;
}

.password-length {
    margin-left: 5px;
}

.password-rules {
    margin-left: 40px;
}

.choice-characters {
    margin-left: 20px;
}

input[type=radio],
[type=checkbox] {
    margin-top: 10px;
}

/* Media Queries. Incluye cuatro breakpoints*/

@media (max-width: 1000px) {

    .generated-password {
        height: 60px;

    }

    .customize-password {
        margin-top: -40px;
        height: 225px;
    }
}

@media (max-width: 750px) {

    .generated-password {
        height: 60px;
    }

    .customize-password {
        height: 220px;
    }
}



@media (max-width: 450px) {


    .generated-password {
        height: 80px;
        width: 330px;
        margin-left: 10px;
    }

    #password {
        width: 200px;
    }


    .customize-password {
        width: 330px;
        height: 500px;
        margin-left: 10px;
    }


    h2 {
        width: 280px;
    }

    .password-features {
        flex-direction: column;
    }

    .password-rules,
    .choice-characters {
        margin-left: 5px;
        margin-top: 10px;
    }
}


@media (max-width: 300px) {

    body {
        height: 120vh;
    }

    .generated-password {
        width: 270px;
        margin-left: 5px;
        margin-top: 70px;
        border: none;
    }

    #password {
        width: 180px;
        margin-left: 20px;
    }


    .customize-password {
        width: 270px;
        margin-left: 5px;
        border: none;
    }

}